.modal--post {
  max-height: 60vh;
  overflow-y: auto;
}

.file--uploader label {
  width: 95%;
  min-width: unset;
  max-width: unset;
  border-color: var(--primary--color);
  margin: auto;
}

.file--uploader svg path {
  fill: var(--primary--color);
}

.post--modal--image--container {
  max-width: 25rem;
  margin: 1rem auto;
}

.post--modal--image--container img {
  max-height: 25rem;
  object-fit: cover;
}

.caption--container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.caption--container img {
  align-self: flex-start;
}

.caption--container .input--container {
  flex-grow: 1;
  margin: 0;
}

.caption--container .bio--textarea {
  height: 15vh;
}

.modal--actions {
  align-items: center;
  margin-top: 1rem;
}

.modal--actions .file--uploader {
  flex-grow: 1;
}

@media only screen and (max-width: 1250px) {
  .modal--post {
    width: 70%;
  }
}

@media only screen and (max-width: 570px) {
  .modal--post,
  .modal--profile {
    width: 90%;
    padding: 1rem;
  }
}
