.container {
  margin: 1rem auto;
  max-width: 50rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.post--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-self: flex-start;
  flex-grow: 1;
}
