.filter--container {
  background-color: var(--secondary--light);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 30rem;
  margin: 0 auto;
  width: 100%;
}

.filter--radio {
  display: none;
}

.filter--container .filter--radio--label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  padding: 1rem;
}

.filter--items:not(:last-child) {
  border-right: 1px solid;
}

.filter--radio:checked + .filter--radio--label,
.filter--radio--label:hover {
  font-weight: 700;
  color: var(--primary--color);
}

.filter--radio--label svg {
  margin-right: 0.5rem;
}
